<h1><%= @artist.name %></h1>
<h2><%= @artist.genre %></h2>

<ul>
<li><%= link_to  "Edit Artist", edit_artist_path %></li>
<li><%= link_to  "Delete Artist", @artist, method: :delete %></li>
<li><%= link_to  "Add Song", new_artist_song_path(@artist) %></li>
</ul>



<table>
  <th>Song</th>
  <th>Genre</th>
  <% @artist.songs.each do |song| %>
    <tr>
      <td><%= link_to song.name, artist_song_path(@artist, song) %></td>
      <td><%= song.genre %></td>
    </tr>
  <% end %>
</table>
