<img
  class="ui large circular image"
  src='https://images.unsplash.com/photo-1555201441-7b166836415d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80'
/>
<h1>Add Song</h1>

<%=form_for [@artist, @song] do |f|%>

<%=f.label :name%>
<%=f.text_field :name%>

<%=f.label :genre%>
<%=f.text_field :genre%>

<%=f.submit 'Submit'%>

<%end%>