<h1>Song: <%= @song.name %></h1>
<h1>Artist: <%= @artist.name %></h1>
<h1>Genre: <%= @song.genre %></h1>

<ul>
<li><%= link_to  "Edit song", edit_artist_song_path %></li>
<li><%= link_to  "Delete Song", artist_song_path, method: :delete %></li>
</ul>