<h1>New Billboard</h1>

<%=form_for @billboard do |f|%>

<%=f.label :name%>
<%=f.text_field :name%>

<%=f.label :region%>
<%=f.text_field :region%>

<%=f.label :genre%>
<%=f.text_field :genre%>

<%=f.submit 'Submit'%>

<%end%>